<div *ngIf="flag == true">
    <h2 md-dialog-title>MY DIALOG</h2>
    <hr>
    <mat-dialog-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam maxime cum dolorem officiis assumenda rem alias, omnis nobis nam. Ratione soluta libero architecto cupiditate at fugit consectetur sit dignissimos vitae.
      <br>
      <br>
      <!-- <strong>{{data}}</strong> -->
      <strong>The selected values are:</strong>
      <p *ngFor="let item of arr">
        {{item}}
      </p>
    </mat-dialog-content>
    <hr>
    <mat-dialog-actions>
      <button class="mat-raised-button mat-primary" (click)="onCloseConfirm()">CONFIRM</button>&nbsp;
      <button class="mat-raised-button mat-primary" (click)="onCloseCancel()">CANCEL</button>
    </mat-dialog-actions>
  </div>


  <!-- <div *ngIf="flag == false">
      <h2 md-dialog-title>MY DIALOG {{flag}}</h2>
      <hr>
      <mat-dialog-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam maxime cum dolorem officiis assumenda rem alias, omnis nobis nam. Ratione soluta libero architecto cupiditate at fugit consectetur sit dignissimos vitae.
        <br>
        <br>
        <strong>The selected values are:</strong>
        <p *ngFor="let item of arr">
          {{item}}
        </p>
      </mat-dialog-content>
      <hr>
      <mat-dialog-actions>
        <button class="mat-raised-button mat-primary" (click)="onCloseConfirm()">CONFIRM</button>&nbsp;
        <button class="mat-raised-button mat-primary" (click)="onCloseCancel()">CANCEL</button>
      </mat-dialog-actions>
    </div> -->


















    <div *ngIf="flag == false" class="container">
        <h3 mat-dialog-title>Issue id: {{data.id}}</h3>
      
        <form class="align" [formGroup]="dialogForm" novalidate>
      
            <div>
                
              <mat-form-field class="example-container">
                <input type="text" matInput placeholder="Name" formControlName="name" required> 
            
                <mat-error *ngIf="dialogForm.controls.name.status == 'INVALID'">
                  Please enter a valid name
                </mat-error>
              </mat-form-field>
            </div>
            
            <div>
              <mat-form-field class="example-container">
                <input type="number" matInput placeholder="Progress" formControlName="progress" required>
                <mat-error *ngIf="dialogForm.controls.progress.status == 'INVALID'">
                    Please enter progress
                  </mat-error>
              </mat-form-field>
            </div>
      
          <div mat-dialog-actions>
              
              <button [disabled]="!dialogForm.valid" class="mat-raised-button mat-primary" (click)="save(dialogForm)">Save</button>
              <button class="mat-raised-button mat-primary" mat-button (click)="onCloseCancel()">Cancel</button>
          </div>
        </form>
      </div>
  