<div class="outer-container">

  <div class="inner-container">

    <h2 class="headline">Contact Spireon Form</h2>

    <div class="text">Please fill out the form below, or call us at 1-800-557-1449, to learn more about how Spireon solutions can benefit your
      company,
    </div>


    <div class="" style="line-height:2em">
      <form class="" [formGroup]="aboutForm" novalidate>
        <div style="font-weight: bold;">Request Type</div>
        <mat-form-field style="width:100%">
          <mat-select formControlName="option" [(ngModel)]="selectedValue" name="option">
            <mat-option *ngFor="let option of options" [value]="option.value">
              {{option.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- <p> Selected value: {{selectedValue}} </p> -->

         <div style="font-weight: bold;">First Name</div>
        <mat-form-field style="width:100%">
          <input type="text" matInput formControlName="firstname" required>

          <mat-error *ngIf="aboutForm.controls.firstname.status == 'INVALID'">
            Please enter a valid username
          </mat-error>
        </mat-form-field>


        <div style="font-weight: bold;">Last Name</div>
        <mat-form-field style="width:100%">
          <input type="text" matInput formControlName="lastname" required>

          <mat-error *ngIf="aboutForm.controls.lastname.status == 'INVALID'">
            Please enter a valid username
          </mat-error>
        </mat-form-field>


        <div style="font-weight: bold;">Company Name</div>
        <mat-form-field style="width:100%">
          <input type="text" matInput formControlName="companyname" required>

          <mat-error *ngIf="aboutForm.controls.companyname.status == 'INVALID'">
            Please enter a valid companyname
          </mat-error>
        </mat-form-field>


        <div style="font-weight: bold;">Email</div>
        <mat-form-field style="width:100%">
          <input type="text" matInput formControlName="email" required>

          <mat-error *ngIf="aboutForm.controls.email.status == 'INVALID'">
            Please enter a valid email
          </mat-error>
        </mat-form-field>
        

        <div style="font-weight: bold;">Phone</div>
        <mat-form-field style="width:100%">
          <input type="text" matInput formControlName="phone" required>

          <mat-error *ngIf="aboutForm.controls.phone.status == 'INVALID'">
            Please enter a valid phone number
          </mat-error>
        </mat-form-field> 



        <div style="font-weight: bold;">Business Type</div>
        <mat-form-field style="width:100%">
          <mat-select formControlName="businessOption" [(ngModel)]="businessValue" name="businessOption">
            <mat-option *ngFor="let businessOption of businessOptions" [value]="businessOption.value">
              {{businessOption.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>




        <button style="display: block; margin: 0 auto;" class="mat-raised-button mat-primary" [disabled]="aboutForm.valid"  (click)="openDialog(aboutForm)">Contact</button>

      </form>

    </div>

  </div>
</div>
